	
      #cabezalinea, #cabecera, #sumatorio
     {
     	display: flex;
     	flex-direction: row;
     	justify-content: space-around;
     }
     img{

		  width: 480px; 
		  height: 320px;
		}

     hr {
    height: 1px;
    border: 0;
    background-color: black;
      }

     input
     {
     	margin-bottom: 5px;
     }
    
    #serie
    {
    	margin-left: 35px;
    }
    #fecha
    {
    	margin-left: 30px;
    }
    table
    {
    	display: flex;
    	flex-direction: column;
    	justify-content: space-around;
    	
    }
     tr
    {
    	display: flex;
    	flex-direction: row;
    	justify-content: space-around;
    	
    }

    #dni, #nombre, #apellidos, #direccion, #cp
    {
        width: 300px;
    }
 #sinImporte
    {
        margin-left: 40px;
    }

     #lista li input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  margin-right: 10px;
}